.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill img {
    height: 45px;
    margin: 0 5vmin 10vmin;
}

.list-skills {
    display: flex;
    flex-wrap: wrap;
}