.contact {
    /* min-height: 100vh; */
    padding-bottom: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-contactInfo {
    display: flex;
    flex-wrap: wrap;
}