.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 15vh;
    font-size: 5vmin;
}

.contact-info p {
    font-weight: bold;
    margin: 0;
}

.icon-contact {
    margin-right: 10px;
}