.header {
    background: url('/public/img/bg.jpg');
    background-attachment: fixed, scroll;
    background-size: cover;
}

.name {
    height: 60vh;
}

.title2 {
    font-size: 15vmin;
    font-weight: bold;
}