.header {
    background: url('/public/img/bg.jpg');
    background-attachment: fixed, scroll;
    background-size: cover;
}

.name {
    height: 60vh;
}

.title2 {
    font-size: 15vmin;
    font-weight: bold;
}

.scrolldown {
    width: 5%;
}

.scroll-container {
    height: 40vh;
}

.scroll-container p {
    font-size: 15px;
}