.header {
    background: rgba(24,24,24,255)
}

.name {
    height: 60vh;
}

.title2 {
    font-size: 15vmin;
    font-weight: bold;
}

.scrolldown {
    width: 5%;
}

.scroll-container {
    height: 40vh;
}

.scroll-container p {
    font-size: 15px;
}